[submodule "CoT-Verification-Toolbox-Backend"]
	path = CoT-Verification-Toolbox-Backend
	url = https://github.com/imsongkk/CoT-Verification-Toolbox-Backend
[submodule "CoT-Verification-Toolbox-Middleware"]
	path = CoT-Verification-Toolbox-Middleware
	url = https://github.com/yuljang/CoT-Verification-Toolbox-Middleware
